.tweetForm {
    width: 100%;
    border: 2px solid #CCCCCC;
    border-radius: 6px;
    position: relative;
}

textarea {
    color: #CCCCCC;
    width:100%;
    box-sizing:border-box;
    resize: none;
    padding: 15px;
    border: 0;
}
  
textarea::placeholder {
    color: #CCCCCC;
}

textarea:focus {
    outline: none;
}

#postTweetBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #007BFF;
    color: #FFF;
    height: 35px;
    border-radius: 4px;
    padding: 0px 10px;
    border: 0;
}

#postTweetBtn:disabled {
    opacity: 50%;
}

#maxLengthError {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #721C24;
    background: #F8D7DA;
    border: 1px solid #F5C6CB;
    box-sizing: border-box;
    border-radius: 4px;
}