.tweet {
    width: 100%;
    background-color: #343A40;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow-wrap: break-word;
}
@media screen and (max-width: 600px) {
    .tweet{
      width: 97%;
    }
  }
.tweetUsername {
    color: #6C757D;
    grid-area: 1 / 1 / 2 / 2;
}
.tweetDate {
    color: #6C757D;
    grid-area: 1 / 2 / 2 / 4;
    text-align: right;
}
.tweetBody {
    margin-top: 6px;
    color: #FFFFFF;
    grid-area: 2 / 1 / 3 / 4;
}